[submodule "f25-ex01-vigneshsaravanakumar404"]
	path = f25-ex01-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-ex01-vigneshsaravanakumar404.git
[submodule "f25-ex02-vigneshsaravanakumar404"]
	path = f25-ex02-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-ex02-vigneshsaravanakumar404.git
[submodule "f25-hw01-vigneshsaravanakumar404"]
	path = f25-hw01-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-hw01-vigneshsaravanakumar404.git
[submodule "f25-hw02-vigneshsaravanakumar404"]
	path = f25-hw02-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-hw02-vigneshsaravanakumar404.git
[submodule "f25-hw03-vigneshsaravanakumar404"]
	path = f25-hw03-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-hw03-vigneshsaravanakumar404.git
[submodule "f25-hw04-vigneshsaravanakumar404"]
	path = f25-hw04-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-hw04-vigneshsaravanakumar404.git
[submodule "f25-lab01-vigneshsaravanakumar404"]
	path = f25-lab01-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-lab01-vigneshsaravanakumar404.git
[submodule "f25-lab02-vigneshsaravanakumar404"]
	path = f25-lab02-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-lab02-vigneshsaravanakumar404.git
[submodule "f25-lab03-vigneshsaravanakumar404"]
	path = f25-lab03-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-lab03-vigneshsaravanakumar404.git
[submodule "f25-lab04-vigneshsaravanakumar404"]
	path = f25-lab04-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-lab04-vigneshsaravanakumar404.git
[submodule "f25-lab05-vigneshsaravanakumar404"]
	path = f25-lab05-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-lab05-vigneshsaravanakumar404.git
[submodule "f25-lab06-vigneshsaravanakumar404"]
	path = f25-lab06-vigneshsaravanakumar404
	url = https://github.com/neu-cs3100/f25-lab06-vigneshsaravanakumar404.git
